<section id="friend-lookup">

  <h3>Search for Friends</h3>
  <%= form_tag search_path, remote: true, method: :get, id: 'friend-lookup-form' do %>

      <div class="form-group row no-padding text-center">
        <div class="col-md-10">
          <%= text_field_tag :search_friend, params[:search_friend], placeholder: 'Friend name or email', autofocus: true, class: 'form-control search-box input-lg' %>
        </div>

        <div class="col-md-2">
          <%= button_tag(type: :submit, class: 'btn btn-lg btn-success') do %>
              <i class="fa fa-search"></i> Search
          <% end %>
        </div>

      </div>

  <% end %>

  <%= render 'shared/spinner' %>

  <!-- If friend found -->
  <% if @users %>

      <% if @users.size > 0 %>


          <div id="friend-lookup-results" class="well results-block col-md-10">

            <table class="search-results-table">
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><strong>Name: </strong> <%= user.full_name %> </td>
                    <td><strong>Email: </strong> <%= user.email %> </td>
                    <td>
                      <strong>Profile: </strong> <%= link_to 'Profile', user_path(user), class: 'btn btn-success btn-xs' %>
                      <% if current_user.not_friends_wtih?(user.id) %>
                        <%= link_to 'Add as friend', add_friend_path(user: current_user, friend: user), class: 'btn btn-success btn-xs', method: :post %>
                      <% else %>
                        <span class="label label-primary">Already a friend</span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

      <% else %>

          <p class="lead">No results matched your query</p>

      <% end %>

  <% end %>

  <div id="stock-lookup-errors"></div>

</section>