<section id="stock-lookup">

  <h3>Search for Stocks</h3>
  <%= form_tag search_path, remote: true, method: :get, id: 'stock-lookup-form' do %>

    <div class="form-group row no-padding text-center">
      <div class="col-md-10">
        <%= text_field_tag :stock, params[:stock], placeholder: 'Stock Symbol', autofocus: true, class: 'form-control search-box input-lg' %>
      </div>

      <div class="col-md-2">
        <%= button_tag(type: :submit, class: 'btn btn-lg btn-success') do %>
            <i class="fa fa-search"></i> Search Stocks
        <% end %>
      </div>

    </div>

  <% end %>

  <%= render 'shared/spinner' %>

  <!-- If stock found -->
  <% if @stock %>
    <div id="stock-lookup-results" class="well results-block">
      <strong>Symbol: </strong><%= @stock.ticker %><br/>
      <strong>Name: </strong><%= @stock.name %><br/>
      <strong>Price: </strong><%= @stock.price %><br/>
    </div>
  <% end %>


  <div id="stock-lookup-errors">

  </div>

</section>